<a href="https://colab.research.google.com/github/manishgodse/002_MachineLearning_eBook/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf

In [0]:
from google.colab import files
uploaded = files.upload()

In [13]:
import io
df = pd.read_csv(io.BytesIO(uploaded['train.csv']))
df.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [0]:
target = 'medv'

In [0]:
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_df = scaler.fit_transform(df)
multiplied_by = scaler.scale_[13]
added = scaler.min_[13]

In [0]:
s_df = pd.DataFrame(scaled_df)

In [0]:
#imports
import tensorflow as tf
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

#build our model
model = Sequential()

model.add(Dense(50, activation='relu'))
model.add(Dense(100, activation='relu'))
#model.add(Dense(50, activation='relu'))
model.add(Dense(1))

model.compile(loss='mean_squared_error', optimizer='adam')

In [0]:
x = s_df.iloc[:,1:13]
y = s_df.iloc[:,13:14]

In [0]:
import pandas
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
import tensorflow as tf

In [0]:
import sklearn
from sklearn.model_selection import train_test_split

#-- Split data into Training set and Testing set
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 5)

In [0]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

In [0]:
# Train the model
model.fit(x_train, y_train, epochs=20, shuffle=True, verbose=1)